.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.siteTitle {
  font-size: 4rem;
}

.header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.header nav ul li {
  padding: 1rem;
}
